
    <head>
        <script type="text/javascript" src="main.js"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <head>
        <body>

        
        <button class="day"><i class="fas fa-sun"></i></button>
        <button class="night"> <i class="fas fa-moon"></i></button>
    <header>
        
        <nav class="navbar">
            <h1><a href="index1.html" class="logo">Harsh Gujrati</a></h1>
            <ul class="nav">
                <li><a class="nav-btn1 active" href="#about">About</a></li>
                <li><a class="nav-btn2" href="#education">Education</a></li>
                <li><a class="nav-btn3" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-btn4" href="#skills">Skills</a></li>
                <li><a class="nav-btn5" href="#contact">Contact</a></li>
            </ul>
            <i class="ham-btn fas fa-bars"></i>
        </nav>
        <div class="row sec-dis">
        <div class="heading">
            
            <h1>Harsh <span>Gujrati</span></h1>
            <h4>Job Title</h4>
            <p>This space can be used to write introduction. Please introduce yourself here.</p>
            <button class="btn-1 conbtn">Portfolio</button>
        </div>
        
        </div>
        
        <section class="section education ">
            <h1 class="section-title">Education</h1>
            <p class="section-desc">You can write here something.</p>
            <div class="skill-container">
                <div class="skill">
                    <img style="width: 80px; height: auto; margin-bottom: 5px;" src="img1.png">
                    <h1>Madan Mohan Malaviya University of Technology</h1>
                    <h2>B. Tech Electrical Engineering</h2>
                    <h3>CGPA: 7.87</h3>
                    
                    
                </div>
                <div class="skill">
                    <img style="width: 80px; height: auto; margin-bottom: 5px;" src="img2.png">
                    <h1>Guru Nanak English School, Varanasi</h1>
                    <h2>Intermediate</h2>
                    <h3>95%</h3>
                    
                </div>
                <div class="skill">
                    <img style="width: 80px; height: auto; margin-bottom: 5px;" src="img2.png">
                    <h1>Guru Nanak English School, Varanasi</h1>
                    <h2>High School</h2>
                    <h3>CGPA: 10</h3>
                    
                </div>
            </div>
        </section>
        <section class="section portfolios ">
            <h1 class="section-title">portfolio</h1>
            <p class="section-desc">You can write here something.</p>
            <div class="portfolio-container">
                
                <div class="portfolio">
                    <div class="img">
                    <p class="portfolio-desc">
                        You can write here something about your projects.</p>
                        <button class="btn-1">View Website &#x0003E;</button>
                        </div>
                </div>
                <div class="portfolio">
                    <div class="img pi2">
                    <p class="portfolio-desc">
                        You can write here something about your projects.</p>
                        <button class="btn-1">View Website &#x0003E;</button>
                        </div>
                </div>
                <div class="portfolio">
                    <div class="img pi3">
                    <p class="portfolio-desc">
                        You can write here something about your projects.</p>
                        <button class="btn-1">View Website &#x0003E;</button>
                        </div>
                </div>
                <div class="portfolio">
                    <div class="img pi4">
                    <p class="portfolio-desc">
                        You can write here something about your recent projects.</p>
                        <button class="btn-1 black">View Website &#x0003E;</button>
                        </div>
                </div>
                <div class="portfolio">
                    <div class="img pi5">
                    <p class="portfolio-desc">
                        You can write here something about your projects.</p>
                        <button class="btn-1">View Website &#x0003E;</button>
                        </div>
                </div>
                <div class="portfolio">
                    <div class="img pi6">
                    <p class="portfolio-desc">
                        You can write here something about your projects.</p>
                        <button class="btn-1">View Website &#x0003E;</button>
                        </div>
                </div>

                </div>
        </section>
                
        <section class="section skills ">
            <h1 class="section-title">skills</h1>
            <p class="section-desc">You can write here something.</p>
            <div class="skills-container">
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill.</p>
                </div>
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill.</p>
                </div>
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill.</p>
                </div>
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill..</p>
                </div>
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill.</p>
                </div>
                <div class="service">
                    <i class="fas fa-gem"></i>
                    <h1>Skill Name</h1>
                    <p>write something about your skill.</p>
                </div>
            </div>
        </section>
        <section class="section contact ">
            <h1 class="section-title">Contact</h1>
            <p class="section-desc">Have a question or want to work together? Contact me now or send a email <a href="mailto:harsh.g225566@gmail.com">here</a>.</p>
            <div class="contact-container">

                <form class="contact-form">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email Address">
                    <input type="text" placeholder="Subject">
                    <textarea name="message" placeholder="Message Here..."></textarea>
                    <button class="btn">Send</button>
                </form>
               

      </div>

                </div>
                </section>
    </header>
</body>
